<p> This app was designed to collect data on local rare, disappearing and abundant plant species across the East Coast of Australia.</p>

<p> It's early days, but as the app grows, so will the areas covered.</p>

<p> We will soon be implementing a query function to assist you when you're out looking for or identifying new plant species.</p>


<p><b> To see see your sightings, click your username at the top-left of the page.</b></p>

<p> Happy sighting.</p>