
<form action="/sessions" method="post">
<h2 class="user-toggle">Welcome back</h2>

    <div>
        <label for="">Email:</label>
        <input type="text" name="email">
    </div>

    <div>
        <label for="">Password:</label>
        <input type="password" name="password">
    </div>

    <button class="form-btn">log in</button>
    <a href="/sign_up" class="user-toggle"> new user?</a>

</form>
