
<form action="/new_user" method="post">
<h2 class="user-toggle">Get amongst it</h2>


    <div>
        <label for="">Username:</label>
        <input type="text" name="username">
    </div>

    <div>
        <label for="">Email:</label>
        <input type="text" name="email">
    </div>

    <div>
        <label for="">Password:</label>
        <input type="password" name="password">
    </div>

    <button class="form-btn">log in</button>

    <a href="/login" class="user-toggle"> already a user?</a>
</form>